
.terraform/providers/registry.terraform.io/hashicorp/google/3.73.0/linux_amd64/terraform-provider-google_v3.73.0_x5
.terraform.lock.hcl
proud-woods-237806-f81191e2a9a2.json
simvoni_rsa.pub
terraform.tfstate
terraform.tfstate.backup
terraform.tfvars